@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: rgb(var(--color-bkg));
        color: rgb(var(--color-text-title));
    }

    :root {
        --color-primary: 79 70 229;
        --color-secondary: 55 65 81;
        --color-text-title: 249 250 251;
        --color-text-content: 209 213 219;
        --color-bkg: 17 24 39;
    }

    :root[data-theme="light"] {
        --color-primary: 79 70 229;
        --color-secondary: 55 65 81;
        --color-text-title: 17 24 39;
        --color-text-content: 75 85 99;
        --color-bkg: 255 255 255;
    }

    :root[data-theme="dark"] {
        --color-primary: 99 102 241;
        --color-secondary: 55 65 81;
        --color-text-title: 226 232 240;
        --color-text-content: 148 163 184;
        --color-bkg: 17 24 39;
        --color-test: #fc2222 252 34 34;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --color-primary: 79 70 229;
            --color-secondary: 55 65 81;
            --color-text-title: 17 24 39;
            --color-text-content: 75 85 99;
            --color-bkg: 255 255 255;
        }
    }
}


.swiper-wrapper {
    padding-bottom: 100px;
}

.swiper-slide img {
    display: block;
    border-radius: 12px;
    width: 100%;
    -webkit-box-reflect: below 4px linear-gradient(transparent 25%, rgba(0, 0, 0, 0.35));
}

.swiper-pagination-bullet {
    scale: 150%;
}



