@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .iconButton {
        @apply w-8 transition-transform ease-out duration-300 hover:scale-125;
    }
}

@layer base {
    html {
        background-color: rgb(var(--color-bkg));
        color: rgb(var(--color-text-title));
    }

    :root {
        --color-primary: 99 102 241;
        --color-primary-hover: 129 140 248;
        --color-secondary: 55 65 81;
        --color-secondary-hover: 3 7 18;
        --color-text-title: 226 232 240;
        --color-text-content: 148 163 184;
        --color-bkg: 17 24 39;
        --color-test: #111827 243 244 246;
    }

    :root[data-theme="light"] {
        --color-primary: 79 70 229;
        --color-primary-hover: 99 102 241;
        --color-secondary: 55 65 81;
        --color-secondary-hover: 243 244 246;
        --color-text-title: 17 24 39;
        --color-text-content: 75 85 99;
        --color-bkg: 255 255 255;
    }

    :root[data-theme="dark"] {
        --color-primary: 99 102 241;
        --color-primary-hover: 129 140 248;
        --color-secondary: 55 65 81;
        --color-secondary-hover: 3 7 18;
        --color-text-title: 226 232 240;
        --color-text-content: 148 163 184;
        --color-bkg: 17 24 39;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --color-primary: 79 70 229;
            --color-primary-hover: 99 102 241;
            --color-secondary: 55 65 81;
            --color-secondary-hover: 243 244 246;
            --color-text-title: 17 24 39;
            --color-text-content: 75 85 99;
            --color-bkg: 255 255 255;
        }
    }
}


.swiper-wrapper {
    padding-bottom: 100px;
}

.swiper-slide img {
    display: block;
    border-radius: 12px;
    width: 100%;
    -webkit-box-reflect: below 4px linear-gradient(transparent 25%, rgba(0, 0, 0, 0.35));
}

.swiper-pagination-bullet {
    scale: 150%;
}



